/* GENERAL ELEMENTS RULES */

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    background: #f1f1f1;
}


a {
    color: #eed;
    text-decoration: none;
}

h2 {
    margin: 5px 0 10px 0;
    font-size: 1.7em;
    text-transform: capitalize;
}

main.flex-box {
    flex-direction: column;
}

footer {
    color: #eee;
    border-top: 3px solid #4b4b4b;
    font-size: 0.9em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: #969696;
    text-align: center;
}

footer a {
    text-decoration: underline;
}

footer span {
    margin-top: 10px;
}

/* //// */

/* GENERAL CLASSES RULES */

.flex-box {
    display: flex;
}

.flex-nav {
    width: 100%;
    justify-content: center;
}

.flex-nav>div {
    flex-direction: column;
    align-items: center;
}

.flex-header {
    flex-direction: column;
    align-items: center;
}

/* //// */

/* ADDITIONAL DOCUMENT RULES */

.header--background {
    background: url(../img/P1010799-m.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    justify-content: center;
    color: #eed;
    text-shadow: 1px 1px 8px #222222;
    padding-top: 20px;
}

.header--background>h2 {
    margin-top: 10px;
    font-size: 2em;
    text-transform: capitalize;
}

.header--background>h4 {
    font-size: 1.2em;
    text-align: center;
}

.header-div {
    margin-top: 80px;
}

.header-div>a {
    margin-right: 10px;
}

.doc-logo--link {
    justify-content: center;
    align-items: center;
}

.doc-logo {
    background: url(../img/snake.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    transition: .5s;
}

.logo-hamburger {
    width: 15px;
    height: 3px;
    background: #eed;
    margin-top: 3px;
    transition: .3s;
}

.logo-hamburger.top {
    margin-top: 3px;

    transform: rotate(45deg)
}

.logo-hamburger.bot {
    margin-top: -3px;

    transform: rotate(135deg)
}

.logo-hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 35px;
    height: 40px;
    transition: .5s;
}

.doc-nav--list {
    overflow: hidden;
    width: 0;
    transition: .3s;
}

.doc-nav--list.clicked {
    overflow: visible;
    width: auto;
    transition: .3s;

}

.doc-version {
    background: #222222;
    width: auto;
    margin-top: 15px;
    padding: 3px 4px;
    text-align: center;
    font-size: 0.8em;
    border-radius: 5px;
}

.doc-up_button {
    display: none;
}

.section-first {
    margin-top: 20px;
    padding: 50px 0 20px 0;
    text-align: center;
    justify-content: center;
}

.section-first img {
    width: 80%;
    margin: 10px 0 70px 0;
}

.section-first h2 {
    margin-bottom: 30px;
}

.section-theme {
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
}

.theme-container {
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    height: 50%;
    text-align: center;
}

.theme-container>i {
    margin: 5px 0 10px 0;
    font-size: 3em;
}

.container-box {
    flex-direction: column;
    align-items: center;
}

.container-box--top {
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 70%;
    height: 80px;
    border-bottom: 1px solid #999;

}

/* //// */

/* UI COMPONENT RULES */

.button--border {
    color: #eed;
    border-color: #eee;
}

.border-fill:hover {
    background: #eed;
    border-color: #eee;
    text-shadow: none;
}

.item--button {
    color: #eed;
    text-shadow: 1px 1px 10px black;
    transition: .2s;
}

.item--button:hover {
    background: #9b9b9b41;
}

.button-color {
    background: #ccc;
}

.dropdown--active {
    background: #ccc;
}

/* //// */

/* OTHER RULES */



.fixed {
    position: fixed;
    transition: .5s;
}

.ui-nav {
    background: #eee;
    border-bottom: 1px solid #4b4b4b;
    box-shadow: 1px 1px 7px 1px #222222;
    transition: 0.5s;
    height: 30px;
    z-index: 40;
}

.ui-nav.clicked {
    height: auto;
}

.hamburger-black {
    background: #222222;
}

.ui-nav-button {
    color: #222222;
    text-shadow: none;
}

.ui-main-b {
    color: #4b4b4b;
    background: #ccc;
    padding: 7px;
    border-radius: 7px;
}

/* TABLET MEDIA */

@media screen and (min-width: 426px) {
    .header--background {
        background: url(../img/P1010799-hd.jpg);
        background-size: cover;
        background-position: center;
        height: 400px;
    }

    main.flex-box {
        justify-content: center;
        align-items: center;
    }

    .section-theme {
        width: 80%;
        align-items: center;
    }

}

/* PC MEDIA */

@media screen and (min-width: 769px) {



    .header--background {
        height: 800px;
    }

    .header--background>h2 {
        font-size: 3.5em;
    }

    .doc-up_button {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 20px;
        right: 35px;
        width: 0px;
        height: 0px;
        overflow: hidden;
        border-radius: 50%;
        background: #2222221f;
        color: #eed;
        font-size: 2em;
        transition: .3s;
    }

    .doc-up_button:hover {
        background: #4b4b4b;
    }

    .doc-up_active {
        display: flex;
        width: 65px;
        height: 65px;
        background: #222222;
    }

    .doc-nav--list {
        overflow: visible;
        width: auto;
    }

    .nav-first-child {
        display: none;
    }

    .flex-nav>div {
        width: 70%;
        padding: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .doc-logo {
        position: relative;
        margin-top: 0;
        width: 40px;
        height: 40px;
        background-size: 95%;
        transition: .5s;
    }

    .logo-hover {
        position: absolute;
        color: #ffffff00;
        top: -10%;
        left: -12%;
        width: 10px;
        height: 24px;
        border-radius: 11px;
        transition: .5s;
    }

    main {
        justify-content: center;
    }

    .section-first {
        margin: 50px 0;
    }

    .section-theme {
        flex-direction: row;
        justify-content: space-between;
    }

    .ui-separator {
        border: none;
        width: auto;
        height: 230px;
        border-left: 1px solid #999;
        margin: 3px 35px;
    }

    .theme-container {
        width: 50%;
        height: auto;
    }

    .flex-nav {
        height: 90px;
        transition: .5s;
    }

    .ui-nav {
        height: 55px;
        padding-bottom: 0px;
    }
}