@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #FCFCFC;
}