body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    position: relative;
    margin-top: 57px;
    max-width: 1260px;
    min-width: 320px;
    width: 100%;
    height: 100%;
}
.wrapper section .popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    max-width: 480px;
    width: 100%;
    min-height: 10em;
    color: rgb(47, 46, 46);
}

.wrapper section .popup .popup-wrapper {
    margin-top: 2em;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.box {
    display: flex;
    margin-top: 50px;
    padding-top: 100px;
    justify-content: center;
}

i {
    position: relative;

    font-size: 10em;
    color: #94949493;
}